/*author : SDayar
created : 3rd April 2024
design for index.html */
header{
    position:absolute;
    top:0;
}
a {
    text-decoration: none;
}
ul{
    list-style-type: none;
}
header ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr 1fr 1fr 2fr);
    grid-template-rows:repeat(1, 1fr);

}